<div class="d-flex flex-column w-100 m-0">
    {%- if show_options and show_custom_options -%}
        {%- unless product.has_only_default_variant -%}
            <div class="product-page-info__options mb-15">
                {%- unless is_quick_view -%}
                    {%- assign trigger_id = 'footbar' -%}
                {%- endunless -%}
                {% include 'product-get-options' with options_type: 2 options_show_title: false change_history: change_history %}
            </div>
        {%- endunless -%}
    {%- endif -%}
    {%- if show_button_add_to_cart or show_options -%}
        <div class="product-page-info__variants mb-15{% if show_options == false or show_custom_options %} d-none{% endif %}">
            {% render 'product-get-variants' with product: product current_variant: current_variant show_options: show_options show_custom_options: show_custom_options %}
        </div>
    {%- endif -%}
    {%- if show_quantity -%}
        <div class="product-page-info__field product-page-info__quantity mb-20">
            {%- unless is_quick_view -%}
                {%- assign quantity_connect = 'footbar' -%}
            {%- endunless -%}
            {% render 'product-get-quantity' with quantity_show_title: true %}
        </div>
    {%- endif -%}
    {%- if show_notes -%}
        <div class="product-page-info__field product-page-info__notes mb-20">
            <label>{{ 'products.product.notes_label' | t }}</label>
            <textarea name="" placeholder="{{ 'products.product.notes_placeholder' | t }}" class="mb-0"></textarea>
        </div>
    {%- endif -%}
    <div data-js-footbar-product-limit="">
        <div class="product-page-info__button-add-to-cart mb-10">
        <button class="btn btn--full btn--status js-popup-button" data-js-popup-button="product-inquiry">
            <span class="d-flex flex-center"
            ><span class="btn__text">Notify Me</span></span
            >
        </button>
        </div>
    </div>
    {{ free_shipping_html }}
    {{ payments_html }}
</div>