{%- comment -%} Blancsom Theme - Sourcing type check for shipping message to customer. It returns a string variable 'shipping_info' {%- endcomment -%}
{%- assign ops_sourcing = product.metafields.ops_item_info.ops_sourcing -%}
{% if ops_sourcing.supplier_code == settings.sourcing_cbt_supplier and ops_sourcing.sourcing_type_code == settings.sourcing_cbt_sourcing_type  and ops_sourcing.storage_id == settings.sourcing_cbt_storage %}
    {%- assign shipping_info = 'From Overseas' -%}
{%- elsif ops_sourcing.supplier_code == settings.sourcing_brand_supplier and ops_sourcing.sourcing_type_code == settings.sourcing_brand_sourcing_type  and ops_sourcing.storage_id == settings.sourcing_brand_storage -%}
    {%- assign shipping_info = 'Brand Dropship' -%}
{%- elsif ops_sourcing.supplier_code == 'mxnitaly' and ops_sourcing.sourcing_type_code == '39'  and ops_sourcing.storage_id == '3' -%}
    {%- assign shipping_info = 'From Italy' -%}
{% endif %}
{%- assign shipping_info = 'Brand Dropship' -%}

{%- if shipping_info == 'From Overseas' -%}
    <div class="shipping-info">
        <h6> <i class="mr-3">{% render 'icon-theme-113' %}</i>{{settings.sourcing_cbt_title}}</h6>
        <p>{{settings.sourcing_cbt_text}}</p>
    </div>
{%- endif -%}
{%- if shipping_info == 'Brand Dropship' -%}
    <div class="shipping-info">
        <h6> <i class="mr-3">{% render 'icon-theme-113' %}</i>{{settings.sourcing_brand_title}}</h6>
        <p>{{settings.sourcing_brand_text}}</p>
    </div>
{%- endif -%}