.blancsom-theme .search-form {
  background-color: #f6f9f9; }
@media (min-width: 1025px) {
  .blancsom-theme .container-fluid {
    padding-right: 30px;
    padding-left: 30px; }
  .blancsom-theme .col-12.col-lg-6.blancsom-image-side {
    padding-right: 100px; }
  .blancsom-theme .col-12.col-lg-6.blancsom-info-side {
    padding-top: 64px;
    padding-right: 160px; }
    .blancsom-theme .col-12.col-lg-6.blancsom-info-side .js-sticky-sidebar .product-page__tabs .tabs__body {
      margin-bottom: 96px; } }
.blancsom-theme .menu__level-01 .menu__back a::after {
  content: "View All";
  font-size: 0.6em;
  margin-left: 0.6em;
  text-decoration: underline;
  display: inline-block;
  transform: translateY(-0.2em);
  color: rgba(20, 20, 20, 0.6); }
.blancsom-theme .breadcrumbs {
  margin-bottom: 1rem; }
  .blancsom-theme .breadcrumbs ul li {
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-size: 0.7rem; }
.blancsom-theme .label--sale {
  background-color: #141414; }
.blancsom-theme .product-page-info .product-page-info__title h1 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  line-height: 1.3; }
.blancsom-theme .product-page-info .product-page-info__price .price {
  font-size: 1.1rem;
  letter-spacing: 0.12em;
  display: inline-flex;
  flex-flow: row-reverse; }
  .blancsom-theme .product-page-info .product-page-info__price .price.price--sale > span:not(:first-child) {
    margin-right: 0.2em; }
    .blancsom-theme .product-page-info .product-page-info__price .price.price--sale > span:not(:first-child)::before {
      display: inline-block;
      content: ""; }
  .blancsom-theme .product-page-info .product-page-info__price .price.price--sale > span:first-child {
    font-size: 0.75em;
    margin-top: -0.1em; }
.blancsom-theme .product-page-info .product-page-info__price-sale-details {
  color: #141414; }
.blancsom-theme .product-page-info .product-page-info__details .product-page-info__vendor {
  text-transform: uppercase;
  letter-spacing: 0.12em; }
.blancsom-theme .product-page-info .btn-link {
  text-decoration: none; }
.blancsom-theme .product-page__tabs .tabs__content,
.blancsom-theme .product-page__tabs p {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: #000000; }
  .blancsom-theme .product-page__tabs .tabs__content.description img,
  .blancsom-theme .product-page__tabs p.description img {
    display: none; }
.blancsom-theme .product-page__tabs #ProductTabDescription #ProductSizeChart {
  display: none; }
.blancsom-theme .product-page__tabs .table-product-sizes td:first-child {
  white-space: nowrap; }
.blancsom-theme .product-page__tabs #ProductTab2 ul {
  list-style: none; }
  .blancsom-theme .product-page__tabs #ProductTab2 ul li {
    margin-bottom: 0.5em;
    line-height: 1.2; }
.blancsom-theme .product-page__tabs .shipping-info {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #f6f9f9; }
  .blancsom-theme .product-page__tabs .shipping-info h6 {
    display: flex;
    font-size: 0.75rem;
    color: #416362;
    margin-bottom: 4px; }
  .blancsom-theme .product-page__tabs .shipping-info svg {
    min-height: unset;
    height: 1.2em;
    fill: #416362; }
  .blancsom-theme .product-page__tabs .shipping-info p {
    font-family: soleil, sans-serif;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 0.7rem;
    color: #416362;
    font-weight: 300;
    line-height: 1.3;
    margin: 0; }
.blancsom-theme .label {
  line-height: unset;
  font-family: bicyclette, sans-serif;
  height: unset;
  padding: 2px 6px 1px; }
  .blancsom-theme .label.label--out-stock {
    color: #141414;
    background: none;
    border: 1px solid rgba(20, 20, 20, 0.5);
    padding-top: 1px; }
.blancsom-theme .product-collection__more-info,
.blancsom-theme .product-collection__more-info a {
  color: #141414 !important;
  text-transform: uppercase; }
.blancsom-theme .product-collection__price .price {
  font-size: 1rem;
  display: inline-flex;
  flex-flow: row-reverse; }
  .blancsom-theme .product-collection__price .price.price--sale > span:not(:first-child) {
    margin-right: 0.2em; }
    .blancsom-theme .product-collection__price .price.price--sale > span:not(:first-child)::before {
      display: inline-block;
      content: ""; }
  .blancsom-theme .product-collection__price .price.price--sale > span:first-child {
    font-size: 0.75em; }
.blancsom-theme .product-collection__title h4 {
  line-height: 1.2;
  text-transform: uppercase; }
.blancsom-theme .collection-control__information {
  font-family: adobe-garamond-pro, serif;
  font-size: 1.1em; }
.blancsom-theme .blancsom-collection-list-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem; }
  .blancsom-theme .blancsom-collection-list-options .product-options__section {
    font-family: adobe-garamond-pro, serif;
    color: #000000; }
    .blancsom-theme .blancsom-collection-list-options .product-options__section:not(:last-child)::after {
      margin-left: 0.1em;
      margin-right: 0.3rem;
      content: ","; }
    .blancsom-theme .blancsom-collection-list-options .product-options__section .blancsom-option:not(:last-child)::after {
      content: "/";
      margin-left: 0.2em;
      margin-right: 0.2em; }
    .blancsom-theme .blancsom-collection-list-options .product-options__section .blancsom-option.disabled {
      display: none; }
@media (min-width: 1920px) {
  .blancsom-theme .collection-products .blancsom-xxl-col {
    flex: 0 0 16.6666%;
    max-width: 16.6666%; } }
@media (min-width: 1920px) {
  .blancsom-theme .blancsom-search .blancsom-xxl-col {
    flex: 0 0 16.6666%;
    max-width: 16.6666%; } }
.blancsom-theme .pagination .no-product {
  background: none;
  border: none; }
  .blancsom-theme .pagination .no-product span {
    font-family: adobe-garamond-pro, serif;
    color: #141414; }
.blancsom-theme .pagination .pagination__page {
  border-bottom: 1px solid rgba(0, 0, 0, 0); }
  .blancsom-theme .pagination .pagination__page.current {
    color: #141414;
    border-bottom: 1px solid #141414; }
.blancsom-theme .pagination a.text-underline-hover {
  padding-left: 4px;
  padding-right: 4px;
  text-transform: uppercase;
  text-decoration: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0); }
  .blancsom-theme .pagination a.text-underline-hover:hover {
    border-bottom: 1px solid #141414;
    text-decoration: none !important; }
@media (hover: hover) {
  .blancsom-theme .product-collection__options {
    min-height: 1.5em; }
    .blancsom-theme .product-collection__options .blancsom-collection-list-options {
      display: none;
      margin-bottom: 0; }
  .blancsom-theme .product-collection:hover .blancsom-collection-list-options {
    display: flex; } }
.blancsom-theme .collection-head {
  text-transform: uppercase;
  display: none; }
@media (min-width: 1025px) {
  .blancsom-theme .product-images-navigation span {
    background: none; }
    .blancsom-theme .product-images-navigation span .icon {
      fill: rgba(20, 20, 20, 0.3); }
    .blancsom-theme .product-images-navigation span:hover {
      background: none; }
      .blancsom-theme .product-images-navigation span:hover .icon {
        fill: #141414; } }
.blancsom-theme .header__line-info--style-1 {
  background-color: #f6f9f9;
  border-bottom: none; }
  .blancsom-theme .header__line-info--style-1,
  .blancsom-theme .header__line-info--style-1 p {
    color: #899a9a; }
.blancsom-theme .header__content {
  font-family: bicyclette, sans-serif; }
  .blancsom-theme .header__content .menu__item {
    font-family: bicyclette, sans-serif; }
@media (min-width: 1025px) {
  .blancsom-theme .header__content .header__line-top {
    min-height: 80px; }
  .blancsom-theme .header__content .header__line--colorize-2 {
    background-color: #fff;
    border-color: #fff; } }
.blancsom-theme .header__logo.d-lg-none {
  position: absolute;
  left: calc(50% - 75px);
  top: 18px; }
.blancsom-theme .header__btn-account i.btn-account svg {
  min-width: unset;
  min-height: unset;
  height: 18px;
  margin-top: 5px; }
.blancsom-theme #designersList {
  column-gap: 1em; }
  @media (min-width: 541px) {
    .blancsom-theme #designersList {
      column-count: 2; } }
  @media (min-width: 778px) {
    .blancsom-theme #designersList {
      column-count: 3; } }
  @media (min-width: 1025px) {
    .blancsom-theme #designersList {
      column-count: 4; } }
  @media (max-width: 540px) {
    .blancsom-theme #designersList {
      text-align: center; } }
  .blancsom-theme #designersList .designer-index-card {
    margin-bottom: 3rem;
    break-inside: avoid-column; }
    .blancsom-theme #designersList .designer-index-card h5.index-letter {
      font-family: bicyclette, sans-serif;
      font-weight: bold;
      font-size: 2rem;
      margin: 0 0 0.2rem -2px; }
    .blancsom-theme #designersList .designer-index-card .designer-name a:hover {
      text-decoration: underline; }
    .blancsom-theme #designersList .designer-index-card.selected {
      break-inside: unset; }
.blancsom-theme #designersListNav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-left: -0.8rem; }
  .blancsom-theme #designersListNav .designer-index-nav {
    color: #141414;
    font-family: bicyclette, sans-serif;
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    margin: 0.1rem;
    border: 1px solid rgba(20, 20, 20, 0); }
    .blancsom-theme #designersListNav .designer-index-nav:hover {
      border-bottom: 1px solid #141414; }
    .blancsom-theme #designersListNav .designer-index-nav.disabled {
      cursor: not-allowed; }
  @media (max-width: 540px) {
    .blancsom-theme #designersListNav {
      margin-left: 0; }
      .blancsom-theme #designersListNav .designer-index-nav {
        padding: 0.3rem 0.5rem; } }
@media (max-width: 540px) {
  .blancsom-theme .page-title {
    text-align: center; } }
.blancsom-theme .footer--style-blancsom {
  background-color: #f6f9f9;
  }
  .blancsom-theme .footer--style-blancsom h5 {
    font-size: 0.8rem;
    letter-spacing: 0.12em;
    color: #141414; }
  .blancsom-theme .footer--style-blancsom .footer__menus {
    margin-bottom: 15px; }
  .blancsom-theme .footer--style-blancsom .footer__subscription p {
    font-family: adobe-garamond-pro, serif; }
  .blancsom-theme .footer--style-blancsom .footer__subscription input[type="email"] {
    padding-left: 0.1rem; }
    .blancsom-theme .footer--style-blancsom .footer__subscription input[type="email"], .blancsom-theme .footer--style-blancsom .footer__subscription input[type="email"]:hover, .blancsom-theme .footer--style-blancsom .footer__subscription input[type="email"]:focus {
      border-top: none;
      border-left: none;
      border-right: none;
      background: none; }
    .blancsom-theme .footer--style-blancsom .footer__subscription input[type="email"]::placeholder {
      letter-spacing: 0.12em; }
  .blancsom-theme .footer--style-blancsom .footer__subscription input[type="submit"] {
    width: 100%;
    background-color: #dce5e5;
    letter-spacing: 0.12em;
    color: rgba(20, 20, 20, 0.6);
    border: none; }
    .blancsom-theme .footer--style-blancsom .footer__subscription input[type="submit"]:hover, .blancsom-theme .footer--style-blancsom .footer__subscription input[type="submit"]:focus {
      background-color: #141414;
      color: #f6f9f9; }
  .blancsom-theme .footer--style-blancsom .footer__section .footer__section-content li a {
    color: #899a9a; }
.blancsom-theme .notification-cookies__bg {
  background-color: #233534; }
.blancsom-theme .main-banner-row {
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 540px) {
    .blancsom-theme .main-banner-row {
      padding-left: 15px;
      padding-right: 15px; } }
  .blancsom-theme .main-banner-row .promobox {
    margin-bottom: 30px; }
    .blancsom-theme .main-banner-row .promobox .promobox__text-row .promobox__text-3 {
      padding-right: 8px;
      font-size: 0.9rem;
      display: inline-block;
      min-width: 64px; }
    .blancsom-theme .main-banner-row .promobox .promobox__text-1,
    .blancsom-theme .main-banner-row .promobox .promobox__text-2,
    .blancsom-theme .main-banner-row .promobox .promobox__text-3 {
      line-height: 1;
      color: #141414;
      font-size: 1.2rem; }
    .blancsom-theme .main-banner-row .promobox .promobox__text-1 {
      text-transform: uppercase; }
    .blancsom-theme .main-banner-row .promobox .promobox__text-2 {
      font-family: adobe-garamond-pro, serif; }
    .blancsom-theme .main-banner-row .promobox .promobox__text-3 {
      font-family: adobe-garamond-pro, serif; }
.blancsom-theme .free-shipping {
  color: #141414;
  background: none; }
  .blancsom-theme .free-shipping .free-shipping__progress {
    background: none; }
.blancsom-theme .collection-control__button-sidebar i > svg {
  min-width: unset;
  min-height: unset;
  width: 16px;
  transform: translateY(1px); }
.blancsom-theme .popup__body .notify-me h4 {
  font-weight: 800;
  font-size: 1.5rem; }
.blancsom-theme .popup__body .notify-me h6 {
  text-transform: uppercase;
  font-size: 1.5rem; }
.blancsom-theme h6.shoes-size-chart {
  text-align: center;
  margin-bottom: 0.5em; }
.blancsom-theme table.shoes-size-chart {
  font-family: soleil, sans-serif;
  width: 100%;
  font-size: 0.75rem; }
  .blancsom-theme table.shoes-size-chart tr td,
  .blancsom-theme table.shoes-size-chart tr th {
    min-width: 5em;
    text-align: center;
    padding: 4px 8px;
    vertical-align: middle; }
  .blancsom-theme table.shoes-size-chart tr td {
    border-bottom: 1px solid #dee2e6; }
  .blancsom-theme table.shoes-size-chart tr th {
    background-color: #141414;
    color: #fff;
    border-bottom: 1px solid #141414; }
  .blancsom-theme table.shoes-size-chart tr:hover td {
    border-bottom: 1px solid #000; }
    .blancsom-theme table.shoes-size-chart tr:hover td:hover {
      font-weight: bold; }
.blancsom-theme .promobox.text-next-image .d-block {
  width: 50%;
  float: left;
  margin-right: 16px; }

.logged-in-customer-information__avatar-wrapper {
  display: none; }
