{% include 'global-variables' %} 
<div class="container mb-60">
    <h1 class="h3 mt-30">{{ page.title }}</h1>
    <div class="rte">
        {% include 'parse-for-icons' content: page.content %}
    </div>
    <div id="designersListNav"></div>
    <div id="designersList"></div>
</div>

<script>
    "use strict";
    var atozArr = 'A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,123'.split(',');
    var designersWithLink= [
        {%- for product_vendor in shop.vendors -%}
        {name:"{{ product_vendor }}", link:`{{ product_vendor | link_to_vendor }}`},
        {%- endfor -%}
    ];
    var designers = fromshopify.concat(testlist);
    function sortAZbyName(a, b) {
        var A = a.name.toUpperCase();
        var B = b.name.toUpperCase();
        if (A < B) return -1;
        if (A > B) return 1;
        return 0;
    }
    var listObj = designersWithLink.reduce(function (list, designer) {
        var key = designer.name[0].toUpperCase();
        key = atozArr.includes(key) ? key : '123';
        if (list[key]) {
            list[key].push(designer);
        } else {
            list[key] = [designer];
        }
        return list;
    }, {});
    function designerSet(key) {
        if (!listObj[key]) return;
        listObj[key].sort(sortAZbyName);
        var content = listObj[key].reduce(function (result, designer) {
            return result + "<li class=\"designer-name\">".concat(designer.link,"</li>");
        }, '');
        var HTML = "<ul class=\"designer-list list-unstyled\">".concat(content, "</ul>");
        return HTML;
    };
    var HTML_Content = atozArr.reduce(function (content, key) {
        return content + (designerSet(key) ? "<div class=\"designer-index-card\" id=\"card-".concat(key, "\"><h5 class=\"index-letter\">").concat(key, "</h5>").concat(designerSet(key), "</div>") : '');
    }, '');
    var designersList = document.querySelector('#designersList');
    designersList.innerHTML = HTML_Content;
    function showOne(selectedKey) {
        Object.keys(listObj).forEach(function (key) {
            if (selectedKey === key) {
            document.querySelector("#card-".concat(key)).classList.remove('d-none');
            document.querySelector("#card-".concat(key)).classList.add('selected');
            } else {
            document.querySelector("#card-".concat(key)).classList.remove('selected');
            document.querySelector("#card-".concat(key)).classList.add('d-none');
            }
        });
    };
    function showAll() {
        Object.keys(listObj).forEach(function (key) {
            document.querySelector("#card-".concat(key)).classList.remove('d-none');
            document.querySelector("#card-".concat(key)).classList.remove('selected');
        });
    };
    var HTML_nav = atozArr.reduce(function (content, key) {
        return content + "<div class=\"designer-index-nav ".concat(!listObj[key] ? 'disabled' : '', "\" onclick=\"showOne('").concat(key, "')\">").concat(key, "</div>");
    }, '<div class="designer-index-nav" onclick="showAll()">All</div>');
    var designersListNav = document.querySelector('#designersListNav');
    designersListNav.innerHTML = HTML_nav;
</script>